.account-container{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.acc-profile {
    width: 35%;
    height: 16rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    justify-content: space-between; 
}
.acc-formContainer{
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 100%;
}
.acc-formControl{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.acc-inputForm{
    width: 49%;
    height: 65px;
}
.submit{
    background-color: #635bff;
    border-radius: 12px;
    padding: 8px 20px;
    height: 45px;
    color: white;
}