.sidenav{
    width: 241px;
    height: 100vh;
    background-color: beige;
}
.sidenav img{
    margin-top: 20px;
    margin-left: 28px;
    width: 175px;
}
.sidenav ul{
    list-style-type: none;
    margin-top:40px;
    width: 100%;
    left: 0;
}
.sidenav ul li{
    margin-bottom:36px;
  cursor: pointer;
    font-size: 19px;
}
.active-button{
    background-color: aqua;
}